:root{
    --primary:#ba0cc5;
    --secondary:#ffffff;
    --third:#000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}

.container>section+section{
    height: 139vh;
    background: url(./assets/bg.png);
    background-size: cover;
    overflow-x: auto; 
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    
    
}

.navbar div img{
    height: 30px;
}

.line{
    border-left: 1px solid var(--secondary);
    height: 44px;
    position: relative;
    right: 120px;
}

.grow-list{
    position: relative;
    right: 17rem;
}

.list{
    display: flex;
    list-style: none;
}

.list-item{
    margin: 0px 15px;
    color: var(--secondary); 
    cursor: pointer;
}

.button-small{
    background-color: var(--primary);
    color: var(--secondary);
    padding: 6px 14px;
    border-radius: 7px;
    font-family: "Montserrat";
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-heading{
    font-size: 63px;
    width: 50vw;
    color: var(--secondary);
    position: relative;
    bottom: 16px;
}


.hero-description{
    font-size: 22px;
    color: var(--secondary);
    font-weight: 100;
}

.button-large{
    position: relative;
    top: 70px;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 18px;
    font-family: "Montserrat";
    cursor: pointer;
}
